Source: pnp4icinga
Section: net
Priority: optional
Maintainer: Debian Nagios Maintainer Group <pkg-nagios-devel@lists.alioth.debian.org>
Uploaders: Sebastian Harl <tokkee@debian.org>, Sven Velt <sven@velt.de>
Build-Depends: autotools-dev, debhelper (>= 7), po-debconf, quilt,
 rrdtool, librrds-perl
Standards-Version: 3.9.2
Homepage: http://www.pnp4icinga.org/
Vcs-Git: git://git.debian.org/pkg-nagios/pkg-pnp4icinga.git
Vcs-Browser: http://git.debian.org/?p=pkg-nagios/pkg-pnp4icinga.git

Package: pnp4icinga
Architecture: all
Depends: pnp4icinga-bin, pnp4icinga-web, ${misc:Depends}
Conflicts: pnp4nagios-bin
Description: Nagios addon to create graphs from performance data
 PNP is a graphing tool for Nagios that analyzes performance data provided by
 plugins and stores them automatically into Round Robin Databases (RRD). It
 fully integrates itself into the Nagios Monitoring Website.
 .
 PNP's goal is to be easily configurable and maintainable.
 .
 This is a metapackage depending on all parts of pnp4icinga.

Package: pnp4icinga-bin
Architecture: any
Depends: librrds-perl, adduser, ${shlibs:Depends}, ${misc:Depends}
Recommends: pnp4icinga-web, nagios3 | icinga
Suggests: rrdcached, perl, libgearman-client-perl, libcrypt-rijndael-perl
Description: Nagios addon to create graphs from performance data (binaries)
 PNP is a graphing tool for Nagios that analyzes performance data provided by
 plugins and stores them automatically into Round Robin Databases (RRD). It
 fully integrates itself into the Nagios Monitoring Website.
 .
 PNP's goal is to be easily configurable and maintainable. It supports several
 modes of operation. When using the Gearman mode, some additional Perl modules
 are required: Gearman::Worker, MIME::Base64, and Crypt::Rijndael which are
 available in the libgearman-client-perl, perl, and libcrypt-rijndael-perl
 packages.
 .
 This package contains the NPCD-related binaries and process_perfdata.pl.

Package: pnp4icinga-web
Architecture: all
Depends: libapache2-mod-php5 | php5, php5-gd,
 libkohana2-php,
 libfpdi-php,
 libjs-jquery (>= 1.6.2), libjs-jquery-ui (>= 1.8.ooops.14),
 rrdtool,
 icinga-idoutils,
 icinga-web-pnp,
 adduser,
 ${misc:Depends}
Conflicts: pnp4nagios-web
Recommends: pnp4icinga-bin
Suggests: rrdcached
Description: Nagios addon to create graphs from performance data (web interface)
 PNP is a graphing tool for Nagios that analyzes performance data provided by
 plugins and stores them automatically into Round Robin Databases (RRD). It
 fully integrates itself into the Nagios Monitoring Website.
 .
 PNP's goal is to be easily configurable and maintainable.
 .
 This package contains the web-interface for pnp4icinga.
